* {
	font-family: arial;
	box-sizing: border-box;
}

nav {
	background-color: indianred;
	padding-top: 2px;
	text-align: center;
	padding-bottom: 2px;
}

nav a{
	color: white;
}

/* #übersicht {
	color: white;
} */
h1 {
	font-size: 1.7em;
	text-align: center;
}

body {
	background-color: white;
}

p {
	text-align: center;
	padding: 2.5px;
}