
header {
	text-align: center;
	background-color: lightblue;
}

nav {
	text-align: center;
	background-color: lightcoral;
}

aside {
	background: #b0ffb0;
	text-align: left;
	width: 20%;
	height: 30em; /* soll sich automatisch anpassen, muss geändert werden*/
	float: left;
	padding-top: 1em;
	
}


article {
	background: #f7f2b7;
 	height: 30em; /* soll sich automatisch anpassen, muss geändert werden*/
 	width: 80%;
 	float: right;
 	 padding-top: 1em;
	 
	
}

table{
	text-align: center; /* sollte bei Produktbeschreibung nicht sein...*/
}

footer {
	background-color: lightcoral;
	float: bottom;
	
}