* {
	box-sizing: border-box;
	font-family: arial;
}

header {
	text-align: center;
	background-color: lightblue;
	padding-top: 1em;
}

nav {
	text-align: center;
	background-color: lightcoral;
	padding-top: 1em;
	padding-bottom: 1em;
}

aside {
	background: lightyellow;
	padding: 1em;
	flex 1;
}

h2 {
	text-decoration: underline;
	background-color: #ebebeb;
	font-size: 1.25em;
}

main {
	display: flex;
	flex-flow: row wrap;
}

article {flex 3;
	padding: 1em;
}

footer {
	background-color: lightcoral;
}