* {
	box-sizing: border-box;
	font-family: arial;
}

header {
	text-align: center;
	background-color: lightblue;
	padding-top: 1em;
}

nav {
	text-align: center;
	background-color: lightcoral;
	padding-top: 1em;
	padding-bottom: 1em;
}

aside {
	background: lightyellow;
	text-align: left;
	padding: 1em;
	flex: 1;
}

main {
	display: flex;
	flex-flow: row wrap;
}

article {
	padding: 1em;
	flex: 3;
}

h2 {
	
	text-decoration: underline;
	background-color: #ebebeb;
}

table {
	text-align: center;
}

footer {
	background-color: lightcoral;
	
}