
html{
	background: white;
}
 
body {
	  width: 30em;
	  padding-left: 2px;
	  background: peachpuff;
	  border: 1px solid #000330; /*schwarze Umrandung */
	  border-radius: 10px; /*rundet Ecken ab*/
 	  margin: auto; /* zentriert Formular */
 }
 

