html {
	background-color: lightgrey;
}

header {
	background-color: lightgrey;
}

header input {
	text-align: center;
	min-width: 40em;
}

nav {
	text-align: center;
	background-color: lightcoral;
}

/*#spalte1 {
	min-width: 18em;
	max-width: 18em;
	background-color: lightgrey;
}


#spalte2 {
	background-color: blue;
	min-width: 31em;
	text-align: center;
}

#spalte3 {
	background-color: gold;
	min-width: 31em;
	text-align: center;
}

*/


footer {
	background-color: lightblue;
}