header {
	background-color: lightblue;
}

header input {
	text-align: center;
	min-width: 40em;
}

nav {
	text-align: center;
	background-color: lightcoral;
}

/*#spalte1 {
	min-width: 18em;
	max-width: 18em;
	background-color: lightgrey;
}


#spalte2 {
	background-color: blue;
	min-width: 31em;
	text-align: center;
}

#spalte3 {
	background-color: gold;
	min-width: 31em;
	text-align: center;
}

*/
aside {
	background-color: lightblue;
	text-align: left; 
	
	width: 20%;
	float: left;
	min-height: 20em;
}

article {
	background: #ffede0;
	border-color: #df6c20;
}

footer {
	background-color: lightcoral;
}