header {
	background-color: lightblue;
	text-align: center;
}

nav {
	text-align: center;
	background-color: lightcoral;
}

/* select {
	background-color: lightgrey;
}
 */
/* body {
	background-color: snow;
} */

/* div {
	background-color: snow;
} */


footer {
	background-color: lightcoral;
}