/* Hakan Demen*/
header {
	background-color: lightblue;
	text-align: center;
	padding-top: 2px;
}

body {
	padding: 1.5em;
}

.wkbilder {
	width: 8em;
	height: 5em;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	text-decoration: underline;
	background-color: #ebebeb;
}

table {
	border: 10px solid #ebebeb;
	width: 100%;
}

nav {
	text-align: center;
	background-color: lightcoral;
	padding-top: 2px;
	padding-bottom: 2px;
}

footer {
	background-color: lightcoral;
}

#tabellewarenkorb {
	text-align: center;
}

.th {
	font-weight: bold;
}

#gespreisdick {
	font-weight: bold;
}

/* Bestellbestätigung */
#haken {
	width: 15em;
	hight: 15em;
}

#bbdiv {
	align: center;
}

.center {
	text-align: center;
	font-size: 1.5em;
}

.hakenbild {
	text-align: center;
}

.preisbb {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}